.env
.env.*
*.env
*.pem
*.key
*.crt
*.p12
*.pfx
**/credentials/**
**/backups/**
**/backup/**
data/**
logs/**
tmp/**
state/**
.git
.github
.gitignore
*.dump
*.sql
*.tar
*.tar.gz
*.tgz
*.zip
Dockerfile*
README*
